@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
#about {
  font-family: "Mukta", sans-serif;
}

.about-img-section {
  align-items: center;
  display: flex;
  justify-content: center;
}
.about-img-section img {
  width: 70%;
}
.about-text-section h2 {
  font-weight: 700;
  text-transform: capitalize;
}
.about-text-section p {
  color: #60576d;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about-img-section img {
    width: 100%;
  }
  .about-text-section p {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .about-img-section,
  .about-text-section {
    display: block;
  }
}
